<!--  Detail template uses the scope variable onject 'row' as the source for data -->

<div class="data-couple">
    <div class="data-label">Description:</div>
    <div class="data-item">{{row.description}}</div>
</div>
