<div class="flex p05" ng-repeat-start="(rowid,row) in vm.gridOptions.data | filter: vm.filterBinding">
    <div class="flex flex-column wd1 bb"><i class="fa" ng-class="row.expand?'fa-caret-down':'fa-caret-right'" ng-click="row.expand=!row.expand" ng-if="vm.gridOptions.detailTemplate"></i></div>
    <div class="flex flex-column bb" ng-repeat="(colid,column) in vm.gridOptions.columns" ng-click="row.selected=vm.gridOptions.rows.selectable?!row.selected:false" ng-hide="column.hidden" ng-class="{ 'sorted': vm.gridOptions.columns[colid].sorted!=0, 'wd25': vm.gridOptions.columns[colid].size == 'small', 'wd50': vm.gridOptions.columns[colid].size == 'medium', 'wd75': vm.gridOptions.columns[colid].size == 'wd100'}">

        <!--  display without template  -->
        <div class="flex grow-1 items-center bold" ng-if="!column.template  && (!(column.edit || row.edit) || !column.editable)">{{row[colid]}}</div>
        <!-- display with template -->
        <div class="flex grow-1 items-center bold" ng-if="column.template && (!(column.edit || row.edit) || !column.editable)">
            <ng-include src=" vm.getTemplate(colid) "></ng-include>
        </div>

        <!-- edit without template -->
        <div class="flex grow-1 items-center bold" ng-if="!column.editTemplate && !vm.gridOptions.rows.editTemplate  && (column.edit || row.edit)  && column.editable">
            <input ng-model="row[colid]">
        </div>

        <!-- edit with rows.editTemplate default template -->
        <div class="flex grow-1 items-center bold" ng-if="!column.editTemplate && vm.gridOptions.rows.editTemplate && (column.edit || row.edit)  && column.editable">
            <ng-include src=" vm.getDefaultTemplate(true) "></ng-include>
        </div>

        <!-- edit with cell template -->
        <div class="flex grow-1 items-center bold" ng-if="column.editTemplate && (column.edit || row.edit) && column.editable">
            <ng-include src=" vm.getTemplate(colid,true) "></ng-include>
        </div>

    </div>
</div>
<div ng-repeat-end="" class="flex p1 justify-center items-center bb" ng-if="row.expand">
    <ng-include src="vm.gridOptions.detailTemplate" ng-if="vm.gridOptions.detailTemplate"></ng-include>
</div>
