/***** BASE *****/


/* Setting 1rem = 10px */

html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    -webkit-font-smoothing: antialiased;
}

/***** TYPOGRAPHY *****/


/* roboto */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

/* font size */

.f1 {
    font-size: 5rem
}
.f2 {
    font-size: 4rem
}
.f3 {
    font-size: 3rem
}
.f4 {
    font-size: 2rem
}
.f5 {
    font-size: 1.5rem
}
.f6 {
    font-size: 1rem
}

/* font weight */

.fw100 {
    font-weight: 100
}
.fw300 {
    font-weight: 300
}
.fw400 {
    font-weight: 400
}
.fw500 {
    font-weight: 500
}
.fw700 {
    font-weight: 700
}

/* font styles */

.bold {
    font-weight: 700
}
.regular {
    font-weight: 400
}
.italic {
    font-style: italic
}
.caps {
    text-transform: uppercase;
    letter-spacing: .2rem
}
.underline {
    text-decoration: underline
}

/* text align */

.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}

/***** MARGIN *****/

.m0 {
    margin: 0
}
.mt0 {
    margin-top: 0
}
.mr0 {
    margin-right: 0
}
.mb0 {
    margin-bottom: 0
}
.ml0 {
    margin-left: 0
}
.mx0 {
    margin-left: 0;
    margin-right: 0
}
.my0 {
    margin-top: 0;
    margin-bottom: 0
}
.m05 {
    margin: .5rem
}
.mt05 {
    margin-top: .5rem
}
.mr05 {
    margin-right: .5rem
}
.mb05 {
    margin-bottom: .5rem
}
.ml05 {
    margin-left: .5rem
}
.mx05 {
    margin-left: .5rem;
    margin-right: .5rem
}
.my05 {
    margin-top: .5rem;
    margin-bottom: .5rem
}
.m1 {
    margin: 1rem
}
.mt1 {
    margin-top: 1rem
}
.mr1 {
    margin-right: 1rem
}
.mb1 {
    margin-bottom: 1rem
}
.ml1 {
    margin-left: 1rem
}
.mx1 {
    margin-left: 1rem;
    margin-right: 1rem
}
.my1 {
    margin-top: 1rem;
    margin-bottom: 1rem
}
.m2 {
    margin: 2rem
}
.mt2 {
    margin-top: 2rem
}
.mr2 {
    margin-right: 2rem
}
.mb2 {
    margin-bottom: 2rem
}
.ml2 {
    margin-left: 2rem
}
.mx2 {
    margin-left: 2rem;
    margin-right: 2rem
}
.my2 {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.m4 {
    margin: 4rem
}
.mt4 {
    margin-top: 4rem
}
.mr4 {
    margin-right: 4rem
}
.mb4 {
    margin-bottom: 4rem
}
.ml4 {
    margin-left: 4rem
}
.mx4 {
    margin-left: 4rem;
    margin-right: 4rem
}
.my4 {
    margin-top: 4rem;
    margin-bottom: 4rem
}

/***** PADDING *****/

.p0 {
    padding: 0
}
.pt0 {
    padding-top: 0
}
.pr0 {
    padding-right: 0
}
.pb0 {
    padding-bottom: 0
}
.pl0 {
    padding-left: 0
}
.px0 {
    padding-left: 0;
    padding-right: 0
}
.py0 {
    padding-top: 0;
    padding-bottom: 0
}
.p05 {
    padding: .5rem
}
.pt05 {
    padding-top: .5rem
}
.pr05 {
    padding-right: .5rem
}
.pb05 {
    padding-bottom: .5rem
}
.pl05 {
    padding-left: .5rem
}
.px05 {
    padding-left: .5rem;
    padding-right: .5rem
}
.py05 {
    padding-top: .5rem;
    padding-bottom: .5rem
}
.p1 {
    padding: 1rem
}
.pt1 {
    padding-top: 1rem
}
.pr1 {
    padding-right: 1rem
}
.pb1 {
    padding-bottom: 1rem
}
.pl1 {
    padding-left: 1rem
}
.px1 {
    padding-left: 1rem;
    padding-right: 1rem
}
.py1 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.p2 {
    padding: 2rem
}
.pt2 {
    padding-top: 2rem
}
.pr2 {
    padding-right: 2rem
}
.pb2 {
    padding-bottom: 2rem
}
.pl2 {
    padding-left: 2rem
}
.px2 {
    padding-left: 2rem;
    padding-right: 2rem
}
.py2 {
    padding-top: 2rem;
    padding-bottom: 2rem
}
.p4 {
    padding: 4rem
}
.pt4 {
    padding-top: 4rem
}
.pr4 {
    padding-right: 4rem
}
.pb4 {
    padding-bottom: 4rem
}
.pl4 {
    padding-left: 4rem
}
.px4 {
    padding-left: 4rem;
    padding-right: 4rem
}
.py4 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

/***** BORDER *****/


/* base border */

.ba {
    border-style: solid;
    border-width: 1px
}
.bt {
    border-top-style: solid;
    border-top-width: 1px
}
.br {
    border-right-style: solid;
    border-right-width: 1px
}
.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px
}
.bl {
    border-left-style: solid;
    border-left-width: 1px
}
.bn {
    border-style: none;
    border-width: 0
}

/* border radius */

.br0 {
    border-radius: 0
}
.br02 {
    border-radius: 0.2rem
}
.br04 {
    border-radius: 0.4rem
}
.br06 {
    border-radius: 0.6rem
}
.br08 {
    border-radius: 0.8rem
}
.br1 {
    border-radius: 1rem
}
.brpill {
    border-radius: 1000px
}

/* border styles */

.bs-solid {
    border-style: solid
}
.bs-dashed {
    border-style: dashed
}
.bs-dots {
    border-style: dotted
}

/* border widths */

.bw1 {
    border-width: 1px
}
.bw2 {
    border-width: 2px
}
.bw3 {
    border-width: 3px
}
.bw4 {
    border-width: 4px
}

/* to do: add border colors */


/***** HEIGHTS/WIDTHS *****/


/* height scale */

.ht1 {
    height: 1rem
}
.ht2 {
    height: 2rem
}
.ht3 {
    height: 3rem
}
.ht4 {
    height: 4rem
}
.ht6 {
    height: 6rem
}
.ht8 {
    height: 8rem
}
.ht10 {
    height: 10rem
}
.ht15 {
    height: 15rem
}
.ht20 {
    height: 20rem
}

/* height percentage of parent */

.ht25 {
    height: 25%
}
.ht50 {
    height: 50%
}
.ht75 {
    height: 75%
}
.ht100 {
    height: 100%
}

/* height percentage of screen */

.vht25 {
    height: 25vh
}
.vht50 {
    height: 50vh
}
.vht75 {
    height: 75vh
}
.vht100 {
    height: 100vh
}
.min-vht100 {
    min-height: 100vh
}

/* width scale */

.wd1 {
    width: 1rem
}
.wd2 {
    width: 2rem
}
.wd3 {
    width: 3rem
}
.wd4 {
    width: 4rem
}
.wd6 {
    width: 6rem
}
.wd8 {
    width: 8rem
}
.wd10 {
    width: 10rem
}
.wd15 {
    width: 15rem
}
.wd20 {
    width: 20rem
}

/* width percentage */

.wd25 {
    width: 25%
}
.wd50 {
    width: 50%
}
.wd75 {
    width: 75%
}
.wd100 {
    widows: 100%
}
.wd-third {
    width: calc(100% / 3)
}
.wd-two-thirds {
    width: calc(100% / 1.5)
}

/***** COLOR *****/


/* text color */

.t-danger {
    color: #F44336
}
.t-warning {
    color: #FF9800
}
.t-success {
    color: #4CAF50
}
.t-primary {
    color: #1976D2
}
.t-light {
    color: #FAFAFA
}
.t-dark {
    color: #424242
}
.t-grey-1 {
    color: #F5F5F5
}
.t-grey-2 {
    color: #EEEEEE
}
.t-grey-3 {
    color: #E0E0E0
}
.t-grey-4 {
    color: #BDBDBD
}
.t-grey-5 {
    color: #757575
}
.t-grey-6 {
    color: #616161
}

/* background color */

.bg-danger {
    background-color: #F44336
}
.bg-warning {
    background-color: #FF9800
}
.bg-success {
    background-color: #4CAF50
}
.bg-primary {
    background-color: #1976D2
}
.bg-light {
    background-color: #FAFAFA
}
.bg-dark {
    background-color: #424242
}

/* background greyscale */

.bg-grey-1 {
    background-color: #F5F5F5
}
.bg-grey-2 {
    background-color: #EEEEEE
}
.bg-grey-3 {
    background-color: #E0E0E0
}
.bg-grey-4 {
    background-color: #BDBDBD
}
.bg-grey-5 {
    background-color: #757575
}
.bg-grey-6 {
    background-color: #616161
}

/* background color muted */

.bg-danger-muted {
    background-color: #FFCDD2
}
.bg-warning-muted {
    background-color: #FFECB3
}
.bg-success-muted {
    background-color: #C8E6C9
}
.bg-primary-muted {
    background-color: #BBDEFB
}

/* border color */

.bc-danger {
    border-color: #F44336
}
.bc-warning {
    border-color: #FF9800
}
.bc-success {
    border-color: #4CAF50
}
.bc-primary {
    border-color: #1976D2
}
.bc-light {
    border-color: #FAFAFA
}
.bc-dark {
    border-color: #424242
}

/* border color greyscale */

.bc-grey-1 {
    border-color: #F5F5F5
}
.bc-grey-2 {
    border-color: #EEEEEE
}
.bc-grey-3 {
    border-color: #E0E0E0
}
.bc-grey-4 {
    border-color: #BDBDBD
}
.bc-grey-5 {
    border-color: #757575
}
.bc-grey-6 {
    border-color: #616161
}

/***** IMAGES	*****/

.rounded {
    border-radius: .4rem
}
.rounder-left {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}
.circle {
    border-radius: 50%;
}
.img-fluid {
    max-width: 100%;
}

/* to do: add responsive features */


/***** FLEXBOX *****/

.flex {
    display: flex
}
.flex-row {
    flex-direction: row
}
.flex-row-reverse {
    flex-direction: row-reverse
}
.flex-column {
    flex-direction: column
}
.flex-column-reverse {
    flex-direction: column-reverse
}
.flex-wrap {
    flex-wrap: wrap
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse
}
.justify-start {
    justify-content: flex-start
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.justify-around {
    justify-content: space-around
}
.items-stretch {
    align-items: stretch
}
.items-start {
    align-items: flex-start
}
.items-end {
    align-items: flex-end
}
.items-center {
    align-items: center
}
.items-baseline {
    align-items: baseline
}
.content-stretch {
    align-content: stretch
}
.content-start {
    align-content: flex-start
}
.content-end {
    align-content: flex-end
}
.content-center {
    align-content: center
}
.content-between {
    align-content: space-between
}
.content-around {
    align-content: space-around
}
.self-start {
    align-self: flex-start
}
.self-end {
    align-self: flex-end
}
.self-center {
    align-self: center;
}
.self-baseline {
    align-self: baseline
}
.self-stretch {
    align-self: stretch
}
.grow-1 {
    flex-grow: 1
}
.grow-2 {
    flex-grow: 2
}
.grow-3 {
    flex-grow: 3
}

/***** GRID *****/

.row:after,
.row:before {
    content: " ";
    display: table
}
.row:after {
    clear: both
}
.col {
    float: left
}
.col,
.col-right {
    box-sizing: border-box
}
.col-right {
    float: right
}
.col-1 {
    width: 8.33333%
}
.col-2 {
    width: 16.66667%
}
.col-3 {
    width: 25%
}
.col-4 {
    width: 33.33333%
}
.col-5 {
    width: 41.66667%
}
.col-6 {
    width: 50%
}
.col-7 {
    width: 58.33333%
}
.col-8 {
    width: 66.66667%
}
.col-9 {
    width: 75%
}
.col-10 {
    width: 83.33333%
}
.col-11 {
    width: 91.66667%
}
.col-12 {
    width: 100%
}
@media (min-width:40rem) {
    .sm-col {
        float: left;
        box-sizing: border-box
    }
    .sm-col-right {
        float: right;
        box-sizing: border-box
    }
    .sm-col-1 {
        width: 8.33333%
    }
    .sm-col-2 {
        width: 16.66667%
    }
    .sm-col-3 {
        width: 25%
    }
    .sm-col-4 {
        width: 33.33333%
    }
    .sm-col-5 {
        width: 41.66667%
    }
    .sm-col-6 {
        width: 50%
    }
    .sm-col-7 {
        width: 58.33333%
    }
    .sm-col-8 {
        width: 66.66667%
    }
    .sm-col-9 {
        width: 75%
    }
    .sm-col-10 {
        width: 83.33333%
    }
    .sm-col-11 {
        width: 91.66667%
    }
    .sm-col-12 {
        width: 100%
    }
}
@media (min-width:52rem) {
    .md-col {
        float: left;
        box-sizing: border-box
    }
    .md-col-right {
        float: right;
        box-sizing: border-box
    }
    .md-col-1 {
        width: 8.33333%
    }
    .md-col-2 {
        width: 16.66667%
    }
    .md-col-3 {
        width: 25%
    }
    .md-col-4 {
        width: 33.33333%
    }
    .md-col-5 {
        width: 41.66667%
    }
    .md-col-6 {
        width: 50%
    }
    .md-col-7 {
        width: 58.33333%
    }
    .md-col-8 {
        width: 66.66667%
    }
    .md-col-9 {
        width: 75%
    }
    .md-col-10 {
        width: 83.33333%
    }
    .md-col-11 {
        width: 91.66667%
    }
    .md-col-12 {
        width: 100%
    }
}
@media (min-width:64rem) {
    .lg-col {
        float: left;
        box-sizing: border-box
    }
    .lg-col-right {
        float: right;
        box-sizing: border-box
    }
    .lg-col-1 {
        width: 8.33333%
    }
    .lg-col-2 {
        width: 16.66667%
    }
    .lg-col-3 {
        width: 25%
    }
    .lg-col-4 {
        width: 33.33333%
    }
    .lg-col-5 {
        width: 41.66667%
    }
    .lg-col-6 {
        width: 50%
    }
    .lg-col-7 {
        width: 58.33333%
    }
    .lg-col-8 {
        width: 66.66667%
    }
    .lg-col-9 {
        width: 75%
    }
    .lg-col-10 {
        width: 83.33333%
    }
    .lg-col-11 {
        width: 91.66667%
    }
    .lg-col-12 {
        width: 100%
    }
}

/***** LIST *****/


/***** BUTTONS *****/


/***** POSITION *****/


/***** HIDE *****/
