<div class="flex">
    <div class="flex" ng-click="vm.showMenu()">
        <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;
    </div>

    <div class="flex" ng-repeat="(id,item) in vm.gridOptions.columns" ng-hide="vm.gridOptions.columns[id].hidden" ng-class="{ 'sorted': vm.gridOptions.columns[id].sorted!=0, 'grid-item-small': vm.gridOptions.columns[id].size == 'small', 'grid-item-medium': vm.gridOptions.columns[id].size == 'medium', 'grid-item-large': vm.gridOptions.columns[id].size == 'large'}">
        <div class="grid-item-wrapper">
            <div class="text" ng-click="vm.sortBy(id)">{{item.name}}</div>
            <div class="icon" ng-click="vm.sortBy(id)"><i ng-if="item.sorted!=0" class="fa" ng-class="item.sorted==1?'fa-caret-up':'fa-caret-down'"></i>
            </div>
            <div class="icon" ng-click="vm.showFilter=!vm.showFilter"><i ng-class="vm.filterBinding[id].length?'filtered':''" title="{{vm.filterBinding[id]}}" class="fa fa-filter fa-pull-right"></i></div>
        </div>
    </div>
</div>


<div class="grid-menu" ng-show="vm.menuVisible" ng-mouseleave="vm.showMenu()">
    <div>Show Columns</div>
    <div class="grid-menu-wrapper" ng-repeat="col in vm.gridOptions.columns">
        <input type="checkbox" value=undefined ng-true-value=undefined ng-false-value="true" ng-model="col.hidden">
        <label>{{col.name}}</label>

    </div>
</div>


<div class="flex" ng-show="vm.showFilter">
    <div class="grid-filter-item grid-item-icon">
        <button ng-click="vm.filterBinding={}; vm.showFilter=false"><i class="fa fa-times fa-1x"></i></button>
    </div>
    <div class="grid-filter-item" ng-repeat="(id,item) in vm.gridOptions.columns" ng-hide="vm.gridOptions.columns[id].hidden" ng-class="{ 'sorted': vm.gridOptions.columns[id].sorted!=0, 'grid-item-small': vm.gridOptions.columns[id].size == 'small', 'grid-item-medium': vm.gridOptions.columns[id].size == 'medium', 'grid-item-large': vm.gridOptions.columns[id].size == 'large'}">
        <div>
            <input ng-focus="vm.filterMenu[id].show" type="text" ng-model="vm.filterBinding[id]">
            <button ng-click="vm.filterBinding[id]=''" ng-show="vm.filterBinding[id].length"><i class="fa fa-times fa-1x"></i></button>
        </div>
    </div>
</div>

<div class="flex wd100">

    <div class="grid-content-loading" ng-if="!vm.gridOptions.data">
        <div class="loader">
            <svg version="1.1" id="L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <circle fill="none" stroke="#ccc" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48"></circle>
                <line fill="none" stroke-linecap="round" stroke="#ccc" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="85" y2="50.5" transform="rotate(318 50 50)">
                    <animateTransform attributeName="transform" dur="1s" type="rotate" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
                </line>
                <line fill="none" stroke-linecap="round" stroke="#ccc" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="49.5" y2="74" transform="rotate(90.4 50 50)">
                    <animateTransform attributeName="transform" dur="10s" type="rotate" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
                </line>
            </svg>
        </div>
    </div>

    <div class="flex wd100" ng-show="vm.gridOptions.data">
        <div class="flex flex-column" ng-class="{'highlight': row.selected}" ng-repeat-start="(rowid,row) in vm.gridOptions.data | filter: vm.filterBinding" ng-class-odd="{'grid-row-odd': true}">
            <div class="flex justify-center items-center wd6 ht6"><i class="fa" ng-class="row.expand?'fa-caret-down':'fa-caret-right'" ng-click="row.expand=!row.expand" ng-if="vm.gridOptions.detailTemplate"></i></div>


            <div class="flex" ng-repeat="(colid,column) in vm.gridOptions.columns" ng-click="row.selected=vm.gridOptions.rows.selectable?!row.selected:false" ng-hide="column.hidden" ng-class="{ 'sorted': vm.gridOptions.columns[colid].sorted!=0, 'grid-item-small': vm.gridOptions.columns[colid].size == 'small', 'grid-item-medium': vm.gridOptions.columns[colid].size == 'medium', 'grid-item-large': vm.gridOptions.columns[colid].size == 'large'}">

                <!--  display without template  -->
                <div class="flex grow-1 items-center bold" ng-if="!column.template  && (!(column.edit || row.edit) || !column.editable)">{{row[colid]}}</div>
                <!-- display with template -->
                <div class="flex grow-1 items-center bold" ng-if="column.template && (!(column.edit || row.edit) || !column.editable)">
                    <ng-include src=" vm.getTemplate(colid) "></ng-include>
                </div>

                <!-- edit without template -->
                <div class="flex grow-1 items-center bold" ng-if="!column.editTemplate && !vm.gridOptions.rows.editTemplate  && (column.edit || row.edit)  && column.editable">
                    <input ng-model="row[colid]">
                </div>

                <!-- edit with rows.editTemplate default template -->
                <div class="flex grow-1 items-center bold" ng-if="!column.editTemplate && vm.gridOptions.rows.editTemplate && (column.edit || row.edit)  && column.editable">
                    <ng-include src=" vm.getDefaultTemplate(true) "></ng-include>
                </div>

                <!-- edit with cell template -->
                <div class="flex grow-1 items-center bold" ng-if="column.editTemplate && (column.edit || row.edit) && column.editable">
                    <ng-include src=" vm.getTemplate(colid,true) "></ng-include>
                </div>
            </div>


        </div>
        <div ng-repeat-end="" class="details-container" ng-if="row.expand">
            <ng-include src="vm.gridOptions.detailTemplate" ng-if="vm.gridOptions.detailTemplate"></ng-include>
        </div>
    </div>
</div>
</div>
